@media (min-width: 992px)
  .header
    &__block
      &-info
        &__text
          position: relative
          &:before
            content:""
            position: absolute
            bottom: -5px
            max-width: 100%
            height: 2px
            background-color: $btn-color
            width: 0
            transition: 0.3s
          &:hover
            &:before
              width: 100%
        &__button
          &:hover
            transform: scale(1.05)
            background-color: $btn-color
            color: $bcr-color
            transition: 0.3s
  .book
    &__button
      &__buy
        transition: 0.3s
        &:hover
          background-color: #1565d8ab
      &__read
        transition: 0.3s
        &:hover
          transform: scale(1.05)
          background-color: $btn-color
          color: $bcr-color
  .recommendation
    &__buy
      transition: 0.3s
      &:hover
        transform: scale(1.05)
        background-color: $btn-color
        color: $bcr-color
    &__top
      &__buy
        transition: 0.3s
        &:hover
          transform: scale(1.05)
          background-color: $btn-color
          color: $bcr-color
    &__btn
      transition: 0.3s
      &:hover
        background: $bcr-color
        color: $btn-color
        box-shadow: inset 0 0 0 1px $btn-color
    &__yet
      &-link 
        &:hover
          text-decoration: underline
          color: $btn-color
  .blog
    &__button
      transition: 0.3s
      &:hover
        transform: scale(1.05)
        background-color: $btn-color
        color: $bcr-color
    &__data
      &__read
        &:hover
          text-decoration: underline
          color: $btn-color
  .newsletter
    &__button
      transition: 0.3s
      &:hover
        opacity: 0.7
      &:active
        background-color: $btn-color
  .slider,.unpublished
    &__button
      &-prev,&-next
        transition: 0.3s
        &:hover
          transform: scale(1.1)





@media (min-width: 768px)
  .plate
    display: none
  .slide
    &-adaptive
      display: none
  .slide
    margin-bottom: 100px

@media (max-width: 1200px)
  .partners
    justify-content: space-between
    flex-wrap: wrap
    &__icon
      justify-content: space-evenly
  .newsletter
    &-wrapper
      border-radius: 0
    .container
      max-width: 100%
      padding: 0
    &__subscribe
      padding: 20px 0
      flex-direction: column
    &__title
      margin: 0
      margin-bottom: 20px
  .header
    margin-bottom: 40px
  .container
    max-width: 960px
  .book
    &__text
      margin-bottom: 15px
    &__info
      margin-right: 30px
    &__title
      margin-top: 0
    &__button
      display: flex
      flex-direction: column
      &__buy
        margin-bottom: 15px
      &__read
        max-width: 421px
        text-align: center
  .recommendation
    &__block
      display: flex
      flex-wrap: wrap
      max-width: 960px
      width: 100%
    &__books
      margin: 0 auto
      margin-bottom: 30px
      display: flex
      flex-direction: column
      align-items: center
    &__title
      text-align: center
    &__top
      width: 100%
      display: flex
      align-items: center
      flex-direction: column
      &__block
        max-width: 750px
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between
    &__line
      max-width: 750px
  .slide
    &__card
      max-width: 234px
    &__image
      width: 42px
      height: 42px
      margin-bottom: 25px
    &__title
      font-size: 20px
      line-height: 22px
      margin-bottom: 10px
    &__description
      font-size: 16px
      line-height: 24px
  .author
    &__container
      max-width: 960px
  .blog
    &__news
      flex-direction: column
      align-items: center
      text-align: center
    &__info
      justify-content: space-evenly
    &__title
      margin-bottom: 20px
    &__success
      margin-bottom: 40px
  .footer
    &-wrapper
      justify-content: center
    &__bottom
      display: none
    &__block
      justify-content: space-between
      &:first-child
        margin-right: 0
      &-width
        align-self: center
        order: 5


@media (max-width: 1024px)
  .slide
    .slick 
      &-list 
        margin-right: -126px
  .slider
    &__button
      &-prev,&-next
        width: 48px
        height: 48px
      &-prev
        left: -24px
      &-next
        right: -24px
  .author
    &__video
      &__block
        &:nth-child(3)
          display: none
      &-small
        justify-content: space-between
      


@media (max-width: 992px)
  .slide
    .slick 
      &-list 
        margin-right: -5px
  .container
      max-width: 720px
  .book
    &__block
      display: flex
      justify-content: center
      flex-direction: column
      align-items: center
    &__info
      text-align: center
      margin-right: 0
    &__button
      margin-bottom: 36px
      &__read
        max-width: 559px
  .recommendation
    &__btn
      text-transform: capitalize
      padding: 14px 282px
  .card
    max-width: 140px
  .author
    &__container
      max-width: 720px
    &__info
      display: flex
      flex-direction: column
      align-items: center
    &__title
      margin-bottom: 24px
    &__description
      text-align: center
      margin-bottom: 35px

@media (max-width: 768px)
  .unpublished
    &__block
      .slick 
        &-list 
          margin-left: 29px
  .slide
    .slick 
      &-list 
        margin-right: -87px
  .slider
    &__button
      &-prev,&-next
        bottom: -76px
      &-prev
        left: 35%
      &-next
        right: 35%
  .slide
    &__card
      max-width: 140px
      width: 100%
      height: 182px
    &__image
      width: 36px
      height: 36px
      margin: 20px 0
    &__title
      font-size: 16px
      text-align: center
    &__description
      font-size: 12px
      text-align: center
      max-width: 99px
  .container
      max-width: 560px
  .header
    &__block
      &-info
        display: none
        &__button
          display: flex
          align-items: center
          justify-content: space-between
          flex-direction: column
          margin-left: 0 
          background-color: $bcr-color
          cursor: pointer
    &__mobile
      width: 100%
      position: fixed
      top: 0
      right: 0
      bottom: 0
      left: 0
      background-color: $bcr-color
      transition: 0.3s
      z-index: 10
    &__menu
      display: flex
      width: 100%
      flex-direction: column
      align-items: center
      justify-content: center
      &-item
        margin-right: 0
        margin-bottom: 10px
  .book
    margin-bottom: 58px
    &__button
      &__read
        max-width: 534px
  .recommendation
    margin-bottom: 97px
    &__title
      margin-bottom: 72px
      font-size: 28px
      line-height: 36px
      &--mb
        margin-bottom: 36px
    &__cards
      display: flex
      flex-direction: column
      width: 100%
    &__card
      display: none
      flex-direction: column
      align-items: center
      justify-content: center
      text-align: center
      &:first-child
        max-width: 280px
        width: 100%
        display: flex
        margin: 0 auto
    &__image
      margin-top: -37px
      width: 95px
      height: 137px
      margin-right: -4px
      margin-bottom: 20px
    &__name
      font-size: 20px
      line-height: 24px
      margin: 0 0 12px 0
    &__type
      font-size: 14px
      line-height: 20px
      margin: 0 0 16px 4px
    &__price
      font-size: 16px
      line-height: 20px
      margin-right: 19px
      margin: 0 0 19px -7px
    &__button
      margin-bottom: 15px
    &__buy
      margin-left: 40px
      padding: 7px 26px
    &__btn
      padding: 13px 62px
      margin-bottom: 28px
    &__line
      margin-bottom: 23px
    &__top
      &__block
        max-width: 290px
      &__name
        font-family: Roboto Condensed
        font-style: normal
        font-weight: bold
        font-size: 16px
        line-height: 24px
        margin-top: 5px
        margin-bottom: -7px
      &__price
        font-family: Roboto Condensed
        font-style: normal
        font-weight: bold
        font-size: 20px
        line-height: 24px
        margin-bottom: 14px
    &__image
      &__top
        width: 95px
        height: 142px
        margin-right: 14px
        margin-left: -11px
  .slide
    border-top: none
    padding-top: 10px
  .author
    &-desc
      display: flex
      justify-content: center
      width: 100%
      font-size: 12px
      line-height: 20px
    &__video
      display: flex
      flex-direction: column
      &__block
        display: flex
        flex-direction: column
        justify-content: center
        position: relative
        &:first-child
          margin-right: 20px
        .favorites
          position: absolute
          bottom: -30px
      &__title
        display: flex
        justify-content: center
        font-size: 16px
        line-height: 20px
        width: 100%
        text-align: center
    &__container
      padding: 0 10px
      
    &__title
      font-size: 28px
      line-height: 36px
    &__description
      font-size: 18px
      line-height: 25px
  .video
    &-big
      max-width: 100%
      min-height: 300px
      margin: 0 auto
    &-play
      width: 56px
      height: 56px
      &-sm
        width: 21px
        height: 27px
    &-small
      max-width: 100%
      min-height: 140px
  .favorites
    width: 10px
    height: 14px
  .partners
    &__image
      margin: 0
      &:nth-child(odd)
        margin-right: 30px
      &:nth-child(n+7)
        display: none
  .airbnb
    margin-top: 20px
  .uber
    margin-top: 20px
  .google
    margin-top: 23px
  .fitbit
    margin-left: 60px
  .netflix
    margin-right: 10px
  .blog
    position: relative
    padding-bottom: 81px
    &__data
      &__image
        max-width: 250px
        width: 100%
        min-height: 90px
        min-width: 90px
        margin-right: 20px
      &__info
        min-width: 170px
    &__success
      margin-right: 0
      &__image
        width: 100%
        min-height: 120px
    &__info
      a
        position: absolute
        bottom: 0

@media (max-width: 645px)
  .slide
    .slick 
      &-list 
        margin-right: -20px
  .slider
    &__container
      max-width: 300px
      padding: 0 !important
    &__button
      &-prev
        left: 25%
      &-next
        right: 25%


        
@media (max-width: 576px)
  .modal
    &__dialog
      padding: 30px 40px
      width: 95%
      height: 95%
      max-height: 350px
    &__button
      margin-bottom: 10px
  .unpublished
    padding-top: 43px
    padding-bottom: 60px
    margin-bottom: 41px
    &__title
      margin-bottom: 32px 
    &__image
      max-width: 236px
      width: 100%
    &__block
      max-width: 222px
      margin: 0 auto
      padding-bottom: 60px
      .slick
        &-list
          margin-left: -7px
          margin-right: 0
    &__buttons
      top: 92%
      right: 53px
      max-width: 115px
    &__button
      width: 48px
      height: 48px
    &__title
      font-size: 28px
      linegin-bottom: 31px
  .blog
    &__info
      margin-bottom: 30px 
  .container
    padding: 0 20px
  .logo
    margin: 20px 0
  .book
    &__info
      margin-right: -15px
    &__title
      font-size: 32px
      line-height: 40px
      margin-bottom: 24px
      margin-left: -6px
      &-yellow
        font-size: 32px
        line-height: 40px
    &__author
      font-size: 16px
      line-height: 24px
      margin-bottom: 34px
      margin-left: -17px
    &__text
      font-size: 16px
      line-height: 23px
      margin-bottom: 17px
      margin-left: -7px
    &__wrapper
      max-width: 280px
      width: 100%
      height: 332px
    &__image
      max-width: 143px
      width: 100%
    &__button
      display: flex
      flex-direction: column
      align-items: center
      &__buy
        max-width: 176px
        padding: 9px 20px
        margin-right: 0
        margin-bottom: 15px
      &__read
        max-width: 176px
        padding: 7px 27px
        font-size: 16px
        line-height: 22px
  .recommendation
    &__cards
      margin-bottom: 30px
  .slider
    &__button
      &-next, &-prev
        bottom: -86px
      &-next
        right: 32%
      &-prev
        left: 33%
  .slide
    &-adaptive
      margin-top: -21px 
      margin-bottom: 143px
    &__title
      font-family: Roboto Condensed
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 20px
      max-width: 105px
      text-align: center
    &__description
      font-size: 12px
      line-height: 20px
    .slick
      &-list
        margin-right: 0
  .author
    margin-bottom: 71px
    &__container
      padding: 0
      max-width: 93%
    &__description
      max-width: 280px
      margin-bottom: 19px
    &__video
      &-next
        margin-bottom: 16px
      &__title
        margin-bottom: 6px
    &-desc
      margin-bottom: 0
  .video
    &-big
      min-height: 209px
      margin-bottom: -9px
    &-play
      left: 41%
  .partners
    padding: 38px 7px 57px 0px
    margin-bottom: 54px
    &__title
      font-size: 24px
      line-height: 30px
      margin-bottom: 29px
    &__icon
      padding-left: 0
  .slack
    max-width: 99px
    margin-bottom: 22px
    margin-left: 19px
  .netflix
    max-width: 86px
    margin-bottom: 23px
    margin-right: 18px
  .fitbit
    max-width: 87px
    margin-bottom: 45px
    margin-left: 22px
    margin-top: 3px
  .google
    max-width: 86px
    margin-top: -36px
    margin-right: 14px
  .airbnb
    max-width: 88px
    margin-top: -20px
    margin-left: 20px
  .uber
    max-width: 86px
    margin-top: -14px
    margin-right: 12px
  .header
    margin-top: -2px
    margin-bottom: 15px
  .plate
    margin-right: -9px
  .blog
    margin-bottom: 50px
    &__title
      font-size: 28px
      line-height: 36px
    &__news
      text-align: left
      margin-bottom: -20px
    &__button
      padding: 10px 43px
    &__success 
      &__title
        font-size: 16px
        line-height: 20px
        margin-left: -11px
        margin-bottom: 12px
      &__desc
        font-size: 12px
        line-height: 24px
        text-align: left
        margin-left: -10px
        margin-bottom: -24px
    &__data
      &__info
        left: 0
      &__when
        font-size: 10px
        line-height: 20px
        margin-top: 10px
        margin-bottom: 6px
      &__title
        font-size: 14px
        line-height: 20px
        margin-bottom: 5px
      &__read
        font-size: 10px
        line-height: 20px
      &__image
        margin-top: 9px
      &__card
        margin-bottom: 19px
  .newsletter
    margin-bottom: 47px
    .invalid
      bottom: -27px
      max-width: 440px
    &__title
      font-size: 28px
      line-height: 36px
      min-height: 114px
      max-width: 188px
    &__icon
      top: 26px
    &__input
      padding-bottom: 50px
      padding-right: 20px
      margin-left: 4px
    &__form
      height: 112px
      align-items: flex-end
    &__button
      position: relative
      width: 100%
      margin: 0 11px
      margin-bottom: 12px
      left: 0
      right: 0
      height: 37px
    &__subscribe
      align-items: flex-start
      padding: 30px 20px
  .footer
    &__block
      display: flex
      margin-right: 0
      margin-bottom: 24px
      max-width: 133px
      &:first-child
        margin-top: 6px
        margin-left: 9px
      &:nth-child(5)
        justify-content: flex-start
        .footer__title
          margin-bottom: 19px
      &-width
        display: flex
        align-items: center
        max-width: 100%
    &-wrapper
      justify-content: space-between
    &__title
      font-size: 16px
      line-height: 22px
      margin-bottom: 20px
    &__text
      font-size: 14px
      line-height: 20px
      margin-bottom: 15px
    &__desc
      text-align: center
      margin-bottom: 14px
    &__logo
      margin-bottom: 10px


@media (max-width: 340px)
  .book
    &__title
      max-width: 290px
  .blog
    &__success
      &__image
        min-height: 118px
        height: 118px
        margin-bottom: 18px
      
@media (max-width: 320px)
  


  