*
  box-sizing: border-box
  margin: 0
body
  overflow-x: hidden
body
  background-color: $bcr-color
  height: 100%
.hidden-scroll
  overflow-y: hidden
a
  text-decoration: none
.container
  max-width: 1140px
  margin: 0 auto 

.invalid
  color: $btn-color
  font-size: 12px
  font-family: Open Sans
  font-style: normal
  font-weight: normal
.toTop 
  width: 100px
  border: 2px solid $btn-color
  background: $bcr-color
  text-align: center
  padding: 5px
  position: fixed
  bottom: 10px 
  right: 10px
  cursor: pointer
  display: none
  color: $btn-color
  font-family: Open Sans
  font-size: 12px
  border-radius: 8px
  z-index: 1000
