.unpublished
  background-color: $title-color
  padding-top: 61px
  margin-bottom: 157px
  &__block
    width: 100%
    position: relative
  &__buttons
    display: flex
    justify-content: space-between
    width: 100%
    max-width: 132px
    position: absolute
    right: 0
    top: 0
  &__button
    display: flex
    justify-content: center
    align-items: center
    width: 54px
    height: 56px
    border-radius: 50%
    border: 1px solid #fff
  &__books
    display: flex
    justify-content: space-between    
  &__title
    font-family: Roboto Condensed
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 48px
    color: $bcr-color
    margin-bottom: 60px
  &__image
    max-width: 233px
    width: 100%