.unpublished
  background-color: $title-color
  padding-top: 61px
  margin-bottom: 103px
  padding-bottom: 52px
  &__block
    width: 100%
    position: relative
    .slick 
      &-list 
        margin-right: -10px
        margin-left: -10px
      &-disabled
        opacity: 0.5  
  &__buttons
    display: flex
    justify-content: space-between
    width: 100%
    max-width: 132px
    position: absolute
    right: 4px
    top: -3px
  &__button
    display: flex
    justify-content: center
    align-items: center
    width: 54px
    height: 56px
    border-radius: 50%
    border: 1px solid #fff
    cursor: pointer
  &__books
    display: flex
    justify-content: space-between    
  &__title
    font-family: Roboto Condensed
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 48px
    color: $bcr-color
    margin-bottom: 60px
    margin-top: 0
  &__image
    max-width: 233px
    width: 100%